body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    overflow: hidden;
    background-color: black;
}
.header {
    margin: 0px;
}
.container {
    margin: 0px;   
}
.header-line {
    padding-top: 25px;
    display: flex;
    margin: 0px;
}
.nav {
    color: white;
    text-decoration: none;
    position: relative;
    top: -15px;
    object-position: center;
    vertical-align: text-bottom;
    font-weight: 700;
    font-size: 14px;
}
a {
    color: #fff;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 10px;
    object-position: center;
    font-weight: 700;
    font-size: 18px;
}
a:hover:before {
    clip: rect(0, 190px, 190px, 0);
}
a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-content);
    display: inline-block;
    color: #fff332;
    width: 100%;
    clip: rect(0, 0, 190px, 0);
    -webkit-transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
    transition: clip cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms;
}
.elements {
    background-image: url(bg_7.jpg);
    height: 88vh;
    background-repeat: round;
    background-size: 100%;
    margin-bottom: -45px;
}
.text-desc {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 2%;
    top: 8%;
    background-color: black;
    color: white;
    font-size: 26px;
}
.footer {
    margin-top: 8px;
}
.down-line {
    height: 3vh;
    padding-top: 36px;
    display: flex;
    align-items: center;
    background-size: cover;
}
.bottom-items {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    bottom: 6px;
    vertical-align: middle;
}
.my-name {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}
.text-email {
    color: white;
    text-decoration: none;
    margin: 20px;
    margin-right: 5px;
    font-weight: 700;
    font-size: 14px;
}
.email {
    color: white;
    text-decoration: none;
    margin: 0px 0px;
    font-weight: 700;
    font-size: 14px;
}
.text-phone {
    color: white;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 50px;
    object-position: center;
    font-weight: 700;
    font-size: 14px;
}
.number-phone {
    color: white;
    text-decoration: none;
    margin: 0px 0px;
    object-position: center;
    font-weight: 700;
    font-size: 14px;
}
.foot-date {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    right: -610px;
    object-position: center;
}
